<ActionBar title="Edit Profile" android.position = center>
    
</ActionBar>
<StackLayout>

   <!-- <Label text="Firstname"></Label> -->

	  <TextField hint="Firstname" marginTop=15%></TextField>

<!-- <Label text="Lastname"></Label> -->

	  <TextField hint="Lastname" marginTop=5%></TextField>

<!-- <Label text="Phonenumber"></Label> -->

	  <TextField hint="Phone Number" marginTop=5%></TextField>

<!-- <Label text="Address"></Label> -->

	  <TextField hint="Address" marginTop=5%></TextField>

<Button text="Submit" style="font-size:20px" marginTop="25" width="250"   backgroundColor="white"  (tap)="menu()"></Button>

</StackLayout>